<style>

body {
      background-image: url("New-York-City-skyline-illuminated-at-sunset.png");
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.parallax {
    /* The image used */
    background-image: url("New-York-City-skyline-illuminated-at-sunset.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 60px; /* Full width */

}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #1A43A0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Palatino;
    font-size: 30px;
}

.navbar > p {
  text-align: right;
  font-size: 20px;
  font-family: Palatino;
}

@font-face {
    font-family: Palatino;
    src: url("palatino-regular.woff");
}

h1 {
  font-family: Palatino;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 500px;
  font-size: 75px;
  text-attachment: fixed;
color: white;
}

h2 {
  font-family: Palatino;
  font-size: 35px;
  margin-top: 50px;
  text-attachment: fixed;
color: black;
}

h3 {
  font-family: Palatino;
    text-align: center;
    color: white;
    font-size: 40px;
}

h4 {
  font-family: Palatino;
  font-size: 20px;
  margin-bottom: 300px;
  color: #1A43A0;
}

h5{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 75px;
  text-attachment: fixed;
color: white;
}

h6 {
  font-family: Palatino;
  font-size: 15px;
  color: black;
  font-weight: normal;
}

p {
  font-family: Palatino;
  font-size: 15px;
  color: black;
  margin-top: -15px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: white;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.header {
  background-color: blue;
  height: 70px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* H3 style */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    margin-top: 300px;
}

/* wrapper style */
.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.wrapper > div{
  background: #eee;
  padding: 1em;
  margin-top: 0px;
  margin-bottom:-25px;
}
.wrapper > div:nth-child(odd){
  background: #ddd;
}

.wrapper > p {
  font-size: 35px;
  color: black;
}

.container {
  display: flex;
  border: 5px solid #ffcc5c;
   flex-direction: row;
   flex-wrap: nowrap;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    background-color: #ADD8E6;
align-items: center;
font-family: Palatino;
font-size: 20px;
}
.item {
  background-color: red;
  flex-shrink: 1;
  flex-basis: 30%;
}
</style>
