<!doctype html>
<body>
<style>

body {
      background-image: url("New-York-City-skyline-illuminated-at-sunset.png");
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.parallax {
    /* The image used */
    background-image: url("New-York-City-skyline-illuminated-at-sunset.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 60px; /* Full width */

}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #1A43A0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Palatino;
    font-size: 30px;
}

.navbar > p {
  text-align: right;
}

@font-face {
    font-family: Palatino;
    src: url("palatino-regular.woff");
}

@font-face {
  font-family: Bookman;
  src: url(bookman-regular.woff);
}

h1 {
  font-family: Palatino;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 500px;
  font-size: 75px;
  text-attachment: fixed;
color: white;
}


h3 {
  font-family: Palatino;
    text-align: center;
    color: white;
    font-size: 40px;
}

p {
  font-family: Palatino;
  font-size: 20px;
  margin-bottom: 300px;
  color: #1A43A0;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: white;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* H3 style */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

</style>
